* {
  box-sizing: border-box;
}

:root {
  font: 18px/145% "DM Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

h1,
h2 {
  font-weight: 500;
  margin: 0;
}
